<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>

		<target xsi:type="File"
				name="file"
				fileName="C:\logs\nlog.log"

				keepFileOpen="false"
				concurrentWrites="false"

				layout="${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>

</nlog>
